* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #E5E5E5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 920px;
    height: 500px;
}

.sedans {
    background: #E28625;
}

.suvs {
    background: #006971;
}

.luxury {
    background: #004140;
}